.card-wrap{
    display: flex;
    flex-direction: column;
}
.card-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 19px;
    margin-bottom: 80px;
}
.card-link{
    display: flex;
    flex-direction: column;
    padding: 183px 23px;
    border-radius: 10px;
    width: 100%;
    max-width: 387px;
    gap: 8px;
}
.card1{
    position: relative;
    background: url(../images/sammi-sP5CaWEN7Do-unsplash1.png) center center / cover no-repeat;
}
.card2{
    position: relative;
    background: url(../images/fresh-beautiful-peony-flowers-vase1.png) center center / cover no-repeat;
}
.card3{
    position: relative;
    background: url(../images/alyssa-strohmann-tnpr-hPOta0-unsplash1.png) center center / cover no-repeat;
}
.card-link::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(174, 124, 120, 0.6);
    bottom: 0;
    left: 0;
    border-radius: 10px;
    z-index: 0;
}
.card__title{
    font-family: $Playfair;
    color: $white;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
   z-index: 1;
   text-align: center
}
.card__text{
    @include paragraph;
    color: $white;
    z-index: 1;
    text-align: center;
}
.card_sale{
    display: flex;
    color: $white;
}
.sale_text{
    display: flex;
    flex-direction: column;
    background: #AE7C78;
    width: 100%;
        h2{
            width: 100%;
            max-width: 466px;
            font-family: $Playfair;
            font-weight: 400;
            font-size: 44px;
            line-height: 59px;
            letter-spacing: 0.02em;
            text-align: start;
            margin-left: 125px;
        }
}
.sale_paragraph{
    font-family: $Monserat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    max-width: 387px;
    margin-left: 125px;
}
.sale__img{
    display: flex;
    width: 100%;
    max-width: 590px;
        img{
            width: 100%;
            max-width: 590px;
            height: 100%;
        }
}
